<!DOCTYPE html>{% load staticfiles %}
<html> 
<head>
    <meta charset="UTF-8"/>
    <title>Welkom bij KroketWeb - Bestel je vette hap online</title>
    <link href="{% static "kroket/default.css" %}" rel="stylesheet" type="text/css"/>
</head>

<body>
<img src="{% static "kroket/logo.jpg" %}">

<nav>
    <span class="sponsortitle"> Menu </span><br><br>
    <a href="{% url 'home' %}">Home</a><br>
    <a href="{% url 'assortiment' %}">Assortiment</a><br>
    <a href="{% url 'afrekenen' %}"><b>Afrekenen</b></a>
</nav>


<div class="middle">
    <h3>Afrekenen</h3>
    <form action="{% url 'home' %}" method="post">
        <fieldset>
            <legend>Inhoud winkelwagen</legend>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Aantal</th>
                    <th>Prijs per stuk</th>
                    <th>Totaalprijs</th>
                </tr>
                {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
        <br/>
 
        <fieldset><legend>Bezorggegevens</legend>

            <table>
                <tr>
                    <td><label for="shipping_name">Naam</label></td>
                    <td><input id="shipping_name" type="text" name="shipping_name" size="20" required></td>
                </tr>

                <tr>
                    <td><label for="shipping_address">Straat + nr</label></td>
                    <td><input id="shipping_address" type="text" name="shipping_address" size="20" required></td>
                </tr>
  
                <tr>
                    <td><label for="shipping_city">Plaats</label></td>
                    <td><input id="shipping_city" type="text" name="shipping_city" size="20" required></td>
                </tr>

                <tr>
                    <td><label for="shipping_phonenumber">Telefoonnummer</label></td>
                    <td><input id="shipping_phonenumber" type="text" maxlength=10 name="shipping_phonenumber" required></td>
                </tr>
            </table>
        </fieldset>
    <br/>

        <input type="submit" value="Plaats bestelling"/>
    </form>
</div>



<div class="right weirdlink">
    <aside>
        <span class="sponsortitle"> Sponsors </span><br>

        <a href="http://www.remia.nl">Lemia: Vool de lekkelste flietsaus</a><br>
        <a href="http://www.mola.nl">Mola snacks: eerlijk en lekker</a><br>
        <a href="http://www.arts.nl">Sonya Backer: Snacken is gezond</a>
    </aside>
</div>

</body></html>
