<!DOCTYPE html>{% load staticfiles %}
<html> 
<head>
    <meta charset="UTF-8"/>
    <title>Welkom bij KroketWeb - Bestel je vette hap online</title>
    <link href="{% static "kroket/default.css" %}" rel="stylesheet" type="text/css"/>
    <script>
        function hasBlurred(obj, number) {
            if(!obj.value.match(/^\d+$/) && obj.value != "") {
                obj.value = "";
                alert("klopt niet!");
            } else {
                var avalue = document.getElementById('price');
                avalue.innerHTML = (obj.value * 9.9).toFixed(2);
            }

            var table = document.getElementById("shopcart");
            var articletable = document.getElementById("article_table");

            while(table.rows.length != 1) {
                table.deleteRow(1);
            }

            var totalprice = 0;

            for(var i = 1; i < articletable.rows.length-1; i++) {
                if(document.getElementById('a'+i).value != "") {

                    var row = table.insertRow(1);

                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);

                    cell1.innerHTML = document.getElementById(i).innerHTML + '<input type="hidden" value="'+document.getElementById(i).innerHTML+'" name="artname[]">';
                    cell2.innerHTML = document.getElementById("a"+i).value + '<input type="hidden" value="' + document.getElementById('a'+i).value + '" name="artquant[]">';
                    cell3.innerHTML = document.getElementById("p"+i).innerHTML + '<input type="hidden" value="' + document.getElementById('p'+i).innerHTML+'" name="artprice[]">';
                    cell4.innerHTML = (document.getElementById("a"+i).value * document.getElementById("p"+i).innerHTML).toFixed(2) + '<input type="hidden" value="'+i+'" name="artid[]">';

                    totalprice = parseFloat((document.getElementById("a"+i).value) * document.getElementById("p"+i).innerHTML) + totalprice;
                }
            }
            avalue.innerHTML = totalprice.toFixed(2);
        }
    </script>
</head>

<body>
<img src="{% static "kroket/logo.jpg" %}">

<nav>
    <span class="sponsortitle"> Menu </span><br><br>
    <a href="{% url 'home' %}">Home</a><br>
    <a href="{% url 'assortiment' %}"><b>Assortiment</b></a><br>
    <a href="{% url 'afrekenen' %}">Afrekenen</a>
</nav>

<div class="middle">
    <h3>Overzicht producten</h3>

    <div id="berichtenNavigatie">
    </div>
    <table class="alternatingrow" id="article_table">
        <tr>
            <th>Product</th>
            <th>Prijs (euro)</th>
            <th>Op voorraad</th>
            <th>Bestelling</th>
        </tr>

        {% for article in all_articles %}
            <tr>
                <td id="{{ article.0 }}">{{ article.1 }}</td>
                <td id="p{{ article.0 }}">{{ article.3 }}</td>
                <td>{{ article.2 }}</td>
                <td><input type="text" size="3" onblur="hasBlurred(this, {{ article.0 }})" id="a{{ article.0 }}" {% if article.2 == 0 %}disabled{% endif %}></td>
            </tr>
        {% endfor %}

        <tr>
            <td>Totaal prijs</td>
            <td></td>
            <td></td>
            <td><div id="price"></div></td>
        </tr>

    </table>

    <form>
        <table>
            <tr>
                <td>Producten per pagina</td>

                <td><select name="getpage">
                    <option value=" "> </option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select></td>

                <td><b>1</b> | 2 | 3 | ...</td>
            </tr>
        </table>
    </form>

</div>

<div class="right weirdlink">
    <span class="sponsortitle"> Sponsors </span>

    <aside>
        <span class="sponsortitle"> Sponsors </span><br>

        <a href="http://www.remia.nl">Lemia: Vool de lekkelste flietsaus</a><br>
        <a href="http://www.mola.nl">Mola snacks: eerlijk en lekker</a><br>
        <a href="http://www.arts.nl">Sonya Backer: Snacken is gezond</a>
    </aside>


    <h3>Inhoud winkelmandje</h3>
    <form action="{% url 'afrekenen' %}" method="post">
    <table id="shopcart">
        <tr>
            <th>Artikel</th>
            <th>Aantal</th>
            <th>Prijs per stuk</th>
            <th>Totaalprijs</th>
        </tr>
    </table>
        <input type="submit">
</form>
</div>

</body>
</html>
